*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial;
  }
  
  body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 7.5vmin;
  }
  #game-board {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), var(--cell-size));
    grid-template-rows: repeat(var(--grid-size), var(--cell-size));
    background-color: orange;
    gap: var(--cell-gap);
    border-radius: 1vmin;
    padding: var(--cell-gap);
    position: relative;
  }
  
  .cell {
    background-color: #5d00ff;
    border-radius: 1vmin;
  }
  
  .tile {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: red;
    border-radius: 1vmin;
    top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
    font-weight: bold;
    background-color: hsl(200, 50%, var(--background-lightness));
    color: hsl(200, 25%, var(--text-lightness));
    animation: show 200ms ease-in-out;
    transition: 100ms ease-in-out;
  }
  
  @keyframes show {
    0% {
      opacity: .5;
      transform: scale(0);
    }
  }
  .quit {
    color:white;
    background-color: red;
    height:40px;
    width:50px;
    border-radius:100px;
    border-color: red;
    margin-left: 100px;
    margin-top:10px;
    margin-top: 500px;
    font-family: Arial;
    cursor: pointer;
    }